.inner {
  padding: 2rem;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  text-align: center;
}
.cover-heading {
	display: block;
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.lead{
	font-size:1.25rem;
	font-weight:300;
	margin-top: 30px;
}
