.parallax {
    background-image: url("../assets/img/flat.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_font {
    font-size: 50px;
    text-align: center;
    padding-top: 4em;
    color: #000;
}
.parallax_ {
	height:1000px;
	background-color:transparent;
	font-size:36px;
    color:#000;
}